<%- include('./layouts/header'); %>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Account Dashboard</h4>
                        <a href="/account/logout" class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./layouts/footer'); %>